{% extends 'ContactManagement/base.html' %}
{% block title %}
Home
{% endblock title  %}
{% block style %}

{% endblock style %}
.k-centre{

}
{% block body %}

<table class="table  mt-1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Occupation</th>
      <!-- <th scope="col">Adder</th> -->
    </tr>
  </thead>
  <tbody>

    {% for contact in contacts %}
    <tr class="hoverStyle">
      <td>
        <a href="{% url 'contact-detail' contact.id %}" class=" hoverStyle">
          {{ forloop.counter }}
        </a>
      </td>
      <td>
        <a href="{% url 'contact-detail' contact.id %}" class=" hoverStyle">
          {{ contact.name }}
        </a>
      </td>
      <td> <a href="{% url 'contact-detail' contact.id %}" class="hoverStyle"> {{contact.number}}</a></td>
      <td> <a href="{% url 'contact-detail' contact.id %}" class="hoverStyle"> {{contact.occupation}}</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="k-container">

  {% if is_paginated %}
  {% if page_obj.has_previous %}
  <a href="?page=1" class="btn btn-outline-info mb-4">First</a>
  <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-info mb-4">previous</a>
  {% endif %}
  {% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
  <a href="?page={{ num }}" class="btn btn-info mb-4">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a href="?page={{ num }}" class="btn btn-outline-info mb-4">{{ num }}</a>
  {% endif %}
  {% endfor %}


  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-info mb-4">Next</a>
  <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-info mb-4">Last</a>
  {% endif %}
  {% endif %}

</div>


{% endblock body %}