{% extends 'ContactManagement/base.html' %}
{% block title %}
Home
{% endblock title  %}
{% block body %}
<!-- 
<table class="table  mt-1">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Number</th>
      <th scope="col">Occupation</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr>
      <td>{{ contact.name }}</td>
      <td>{{contact.number}}</td>
      <td>{{contact.occupation}}</td>
    </tr>
    {% endfor %}
   -->

{% for result in results %}
{{result}}
{% endfor %}

</tbody>
</table>


{% endblock body %}