{% extends 'ContactManagement/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Profile
{% endblock title  %}
{% block style %}
{% endblock style %}
{% block body %}
<div class="pt-1 mt-1">
  <div class="card mx-auto" style="width: 20rem;">
    <img src="{{ user.profile.image.url }}" class="card-img-top" alt="..." style="width: 317.5px;" height="300px">
    <div class="card-body">
      <h5 class="card-title">{{ user.username }}</h5>
      <p class="card-text">{{ user.profile.info }}
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{user.email}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link hoverStyle">Update Profile</a>
      <a href="#" class="card-link hoverStyle">Your Contacts</a>
    </div>
  </div>
</div>
<div class="container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{u_form|crispy}}
    {{p_form|crispy}}
    <button class="btn btn-outline-info mb-3" type="submit">Update</button>
  </form>
</div>

{% endblock body %}